<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher"
        tools:targetApi="31">
        <activity
            android:name=".EmptyActivity"
            android:exported="false">

<!--            <action android:name="android.intent.action.MAIN" />-->

<!--            <category android:name="android.intent.category.HOME" />-->
<!--            <category android:name="android.intent.category.DEFAULT" />-->
        </activity>
        <!--
        android:launchMode="singleTask" 시스템이 한 개의 인스턴스만 생성한다.
        싱글톤과 같다고 보면 된다.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <!-- 홈 버튼을 눌렀을 때 홈 앱처럼 됨 -->
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <!--  -->
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- 설치된 앱의 목록을 보여주기 위한 화면 -->
        <activity
            android:name=".AppsListActivity"
            android:exported="false" />

    </application>

</manifest>